<section id="main" class="container">
  <header>
    <h2>About Us</h2>
    <p>And our humble beginnings</p>
  </header>
  <div class="box">
    <span class="image featured"><img src="img/pic01.jpg" alt="" /></span>
    <h3>Connecting High School Students and Parents for Babysitting Services in <em>Your</em> Community </h3>
    <p>Our aim is to connect trusted high school students with parents in specific communities across the country. Currently,
      our platform focuses on connecting these groups of people for babysitting services. There is a need for an easier way
      for students to find parents for paid jobs and for parents to utilize the services that students can offer. Impact
      provides the means to connect high school students and parents to form lasting relationships and a network of helpful
      students to help with your babysitting needs.</p>
    <h3>Trust is Key</h3>
    <p>Our platform vets each student to 100% guarantee that each high school students is who they say they are. In addition,
      by using our algorithm through a facebook api each connection is guaranteed to be trustworthy. We call it the friend
      of a friend reference system. By creating a network of trusted mutual friends through facebook we can make sure that
      each student is properly vetted and most of the time someone you know so your child stays safe. In addition, we make
      sure that before you hire a babysitter you talk to them either in person or over the phone to add a another level of
      security for your babysitting needs.</p>
  </div>
</section>