<!-- Banner -->
<section id="banner">
	<h2>Impact</h2>
	<p>Connecting Communities</p>
	<ul class="actions">
		<li><a href="/signup" class="button special">Sign Up</a></li>
		<li><a href="#main" class="button">Learn More</a></li>
	</ul>
</section>

<!-- Main -->
<section id="main" class="container">

	<section class="box special">
		<header class="major">
			<h2>Introducing the new way to connect
				<br /> students and families</h2>
			<p>Promoting student responsibility and finding babysitters</p>
		</header>
		<span class="image featured"><img src="img/pic01.jpg" alt="" /></span>
	</section>
	<!-- CTA -->
	<section id="cta">

		<h2>Sign up for beta access</h2>
		<p>And support the next generation of entrepreneurs</p>

		{{#if signup_msg}}
		<div class="row uniform">
			<div class="12u">
				<p class='align-center'>
					Thank you for signing up!
				</p>
			</div>
		</div>
		{{else}}
		<form method="post" action="/send">
			<div class="row uniform 50%">
				<div class="8u 12u(mobilep)">
					<input type="email" name="email" placeholder="Email Address" />
				</div>
				<div class="4u 12u(mobilep)">
					<input type="submit" value="Sign Up" class="fit" />
				</div>
			</div>
		</form>
		{{/if}}
	</section>
	<section class="box special features">
		<div class="features-row">
			<section>
				<span class="icon major fa-bolt accent2"></span>
				<h3>Reliable</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan
					dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-area-chart accent3"></span>
				<h3>Innovative</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan
					dolore magna aliquam veroeros.</p>
			</section>
		</div>
		<div class="features-row">
			<section>
				<span class="icon major fa-cloud accent4"></span>
				<h3>Safe</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan
					dolore magna aliquam veroeros.</p>
			</section>
			<section>
				<span class="icon major fa-lock accent5"></span>
				<h3>Secure</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan
					dolore magna aliquam veroeros.</p>
			</section>
		</div>
	</section>

	<div class="row">
		<div class="6u 12u(narrower)">

			<section class="box special">
				<span class="image featured"><img src="img/pic02.jpg" alt="" /></span>
				<h3>Sed lorem adipiscing</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan
					dolore magna aliquam veroeros.</p>
				<ul class="actions">
					<li><a href="#" class="button alt">Learn More</a></li>
				</ul>
			</section>

		</div>
		<div class="6u 12u(narrower)">

			<section class="box special">
				<span class="image featured"><img src="img/pic03.jpg" alt="" /></span>
				<h3>Accumsan integer</h3>
				<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan
					dolore magna aliquam veroeros.</p>
				<ul class="actions">
					<li><a href="#" class="button alt">Learn More</a></li>
				</ul>
			</section>

		</div>
	</div>

</section>