<section id="main" class="container 75%">
  <header>
    <h2>Log In</h2>
  </header>
  <div class="box">
    <form method="post" action="/auth/login">
      <div class="row uniform 50%">
        <div class="12u">
          <input type="email" name="email" placeholder="Email" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="password" name="password" placeholder="Password" />
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <ul class="actions align-center">
            <li><input type="submit" value="Log In!" /></li>
          </ul>
        </div>
      </div>
    </form>
    <div class="row uniform">
      <div class="12u">
        <p class='align-center'>
          <a href="/forgot-password">Forgot Password?</a>
        </p>
      </div>
    </div>
    <div class="row uniform">
      <div class="12u">
        <ul class="actions align-center">
          <a href="/auth/facebook" style="border: none; display: inline-block; position: relative;">
            <div class="blocker" style="position:absolute; height:100%; width:100%; z-index:1;"></div>
            <iframe name="f2cd94128e9bbc8" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true"
              scrolling="no" title="fb:login_button Facebook Social Plugin" src="https://www.facebook.com/v2.9/plugins/login_button.php?app_id=1981422115412589&amp;auto_logout_link=false&amp;button_type=login_with&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FXBwzv5Yrm_1.js%3Fversion%3D42%23cb%3Df3cf3aec7c3dc14%26domain%3Dlocalhost%26origin%3Dhttp%253A%252F%252Flocalhost%253A3000%252Ff2c1fca53204804%26relation%3Dparent.parent&amp;container_width=676&amp;locale=en_US&amp;max_rows=1&amp;sdk=joey&amp;show_faces=false&amp;size=large&amp;use_continue_as=true"
              style="border: none; visibility: visible; width: 236px; height: 40px; z-index: 2" class=""></iframe>
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="row uniform">
    <div class="12u">
      <p class="align-center">
        Don't have an account?
        <a href="/signup">Sign Up</a>
      </p>
    </div>
  </div>
</section>