<section id="main" class="container 75%">
  <header>
    <h2>Log In</h2>
  </header>
  <div class="box">
    <form method="post" action="/auth/login">
      <div class="row uniform 50%">
        <div class="12u">
          <input type="email" name="email" placeholder="Email" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="password" name="password" placeholder="Password" />
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <ul class="actions align-center">
            <li><input type="submit" value="Log In!" /></li>
          </ul>
        </div>
      </div>
    </form>
    <div class="row uniform">
      <div class="12u">
        <p class='align-center'>
          <a href="/forgot-password">Forgot Password?</a>
        </p>
      </div>
    </div>
    <div class="row uniform">
      <div class="12u">
        <ul class="actions align-center">
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false"
            data-use-continue-as="true"></div>
        </ul>
      </div>
    </div>
  </div>
  <div class="row uniform">
    <div class="12u">
      <p class="align-center">
        Don't have an account?
        <a href="/signup">Sign Up</a>
      </p>
    </div>
  </div>
</section>