<section id="main" class="container 75%">
  <header>
    <h2>Sign Up</h2>
  </header>
  <div class="box">
    <form method="post" action="/signup">
      <div class="row uniform 50%">
        <div class="6u 12u(mobilep)">
          <input type="text" name="firstName" placeholder="First Name" />
        </div>
        <div class="6u 12u(mobilep)">
          <input type="text" name="lastName" placeholder="Last Name" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="email" name="email" placeholder="Email" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="password" name="password" placeholder="Password" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="password" name="passwordConfirm" placeholder="Confirm Password" />
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <ul class="actions align-center">
            <li><input type="submit" value="Sign Up!" /></li>
          </ul>
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <p class='align-center'>
            By signing up, you agree to the
            <a href="/legal/terms/">Terms of Service </a> and
            <a href="/legal/privacy/">Privacy Policy</a>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="row uniform">
    <div class="12u">
      <p class="align-center">
        Already have an account?
        <a href="/login">Log In</a>
      </p>
    </div>
  </div>
</section>